{% extends "layout.html" %}

{% block title %}
books
{% endblock %}

<body>
    {% block content %}
    <form action="#" method="POST">
        <p>Name:</p>
        <p><input type="text" name="name" /></p>
        <p>author:</p>
        <p><input type="text" name="author" /></p>
        <p>published year:</p>
        <p><input type="text" name="published_year" /></p>
        <p>type:</p>
        <p><input type="text" name="type" /></p>
        <p><input type="submit" value="submit"/></p>
    </form>
    {% endblock %}

</body>