{% extends "layout.html" %}

{% block title %}
cars
{% endblock %}

<body>
    {% block content %}
    <h1>please chose an option from the one below</h1>
    <a class="btn btn-primary" href="/customer/customer_add" role="button">add  a customer</a>
    <a class="btn btn-primary" href="/customer/customer_search_and_delete" role="button">view all customers and delete(if you want)</a>
    <a class="btn btn-primary" href="/customer/view_specific_customer" role="button">view a specific customer</a>
    {% endblock %}

</body>